<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--        <title>Dashboard - SB Admin</title>-->
    <title th:title="${title} ?: 'LAM'"></title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/bootstrap/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- 헤더 -->
<div th:replace="layout/header :: header"></div>

<div id="layoutSidenav">
    <!-- 사이드바 -->
    <div th:replace="layout/sidenav :: sidenav"></div>

    <!-- 메인 콘텐츠 -->
    <div id="layoutSidenav_content">
        <main>
            <h1>메인 인덱스 화면</h1>
            <p>레이아웃 분리 적용 완료</p>
        </main>

        <!-- 푸터 -->
        <div th:replace="layout/footer :: footer"></div>
    </div>
</div>

</body>
</html>
