<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lam.domain.license.mapper.LicenseMapper">

    <select id="countLicensesStatus" resultType="int" >
        SELECT COUNT(*)
        FROM license
        WHERE status = #{status};
    </select>

    <select id="selectDashboardCounts" resultType="com.project.lam.domain.license.dto.LicenseDashboardDto">
        SELECT
            COUNT(*) AS totalLicenses,
            COUNT(
                    CASE WHEN status = 'ACTIVE'
                                AND expire_date >= NOW()
                         THEN 1
                    END) AS activeLicenses,
            COUNT(
                    CASE WHEN status = 'ACTIVE'
                            AND expire_date >= NOW()
                            AND expire_date &lt; NOW() + INTERVAL '30 days'
                         THEN 1
                    END) AS expiringSoonLicenses
        FROM license
    </select>

    <insert id="insertLicense" useGeneratedKeys="true" keyProperty="licenseNo" keyColumn="license_no">
        INSERT INTO LICENSE (LICENSE_KEY,CUST_NO,TYPE,ISSUE_DATE,EXPIRE_DATE,LICENSE_COUNT,LICENSE_MEMO,CUST_USERNO)
        VALUES (#{licenseKey},#{custNo},#{licenseType},#{issueDate},#{expireDate},#{licenseCount},#{licenseMemo},#{managerNo})
    </insert>


    <select id="selectLicenseCustomerList" resultType="com.project.lam.domain.license.dto.LicenseCustomerDetailDto">
        SELECT
            LICENSE_KEY      AS licenseKey,
            TYPE             AS licenseType,
            LICENSE_COUNT    AS licenseCount,
            STATUS           AS licenseStatus,
            EXPIRE_DATE      AS expireDate
        FROM LICENSE
        WHERE CUST_NO=#{custNo}
        ORDER BY EXPIRE_DATE DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getLicenseCustomerCount" resultType="int">
        SELECT COUNT(*)
        FROM LICENSE
        WHERE CUST_NO = #{custNo}
    </select>

    <select id="selectLicenseType" resultType="com.project.lam.domain.license.dto.LicenseRatioDto">
        SELECT
            TYPE AS licenseType,
            COUNT(*) AS count
        FROM LICENSE
        WHERE TYPE IN ('STANDARD', 'PRO', 'ENTERPRISE')
        GROUP BY TYPE
    </select>
</mapper>
