<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="list-content">

    <h1 class="mt-4">License List</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a th:href="@{/dashboard}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Licenses</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            License Table
        </div>

        <div class="card-body">
            <!-- table -->
        </div>
    </div>

</div>
