<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:block th:replace="~{layout/layout :: layout(~{::content})}">
    <div th:fragment="content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">LAM 고객사 관리</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary mb-4 text-white">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="fw-bold">전체 유지보수 대상 건수</div>
                                    <div class="small text-white-50">Customers</div>
                                </div>

                              <div class="text-end">
                                    <div class="fs-3 fw-bold" th:text="${inspectionCount != null ? inspectionCount.totalInspectionCount : 0}">0</div>
                                    <div class="small text-white-50">Customers</div>
                                </div>

                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/customer/inspectionAll">
                                    View Details
                                </a>
                                <div class="small text-white">
                                   <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary mb-4 text-white">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="fw-bold">이번 달 정기점검 고객사</div>
                                    <div class="small text-white-50">Total Licenses</div>
                                </div>

                              <div class="text-end">
                                    <div class="fs-3 fw-bold" th:text="${inspectionCount != null ? inspectionCount.scheduledInspectionCount : 0}">0</div>
                                    <div class="small text-white-50">Licenses</div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link"  href="/customer/monthInspection">
                                    View Details
                                </a>
                                <div class="small text-white" >
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="fw-bold">정기점검 완료 고객사 수</div>
                                    <div class="small text-white-50">Active Licenses</div>
                                </div>
                               <div class="text-end">
                                    <div class="fs-3 fw-bold"   th:text="${inspectionCount != null ? inspectionCount.completedInspectionCount : 0}">0</div>
                                    <div class="small text-white-50">Licenses</div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/customers">
                                    View Details
                                </a>
                                <div class="small text-white">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="fw-bold">유지보수 만료예정</div>
                                    <div class="small text-white-50">Disabled Licenses</div>
                                </div>

                               <div class="text-end">
                                    <div class="fs-3 fw-bold"  th:text="${inspectionCount != null ? inspectionCount.expiringLicenseCount : 0}">0</div>
                                    <div class="small text-white-50">Licenses</div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/customers">
                                    View Details
                                </a>
                                <div class="small text-white">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <div class="card mb-4">
        <div class="table-card">
            <div class="table-header">
                전체 고객사 현황
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2">
            <!--    <div>
                    총 고객사 수:
                    <span th:text="${totalCount}">0</span> 건
                </div>-->
            </div>

            <div class="table-body">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;">
                            <input class="form-check-input" type="checkbox" id="selectAll">
                        </th>
                        <th>고객명</th>
                        <th>사업자번호</th>
                        <th>고객 담당자</th>
                        <th>최근 점검일</th>
                        <th>점검 상태</th>
                        <th>구매 라이선스 수량</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customerData}">
                        <td class="text-center">
                            <input class="form-check-input customer-checkbox"
                                   type="checkbox"
                                   th:value="${customer.customerNo}">
                        </td>
                        <td th:text="${customer.customerNm}"></td>
                        <td th:text="${customer.businessNo}"></td>
                        <td th:text="${customer.managerName}"></td>
                        <td th:text="${customer.lastInspectionDate != null
                     ? #temporals.format(customer.lastInspectionDate, 'yyyy-MM-dd')
                     : '-'}">
                        </td>
                        <td>
                            <span class="badge"
                                  th:text="
                                    ${customer.resultStatus == 'NORMAL'} ? '점검완료' :
                                    (${customer.resultStatus == 'ACTION_REQUIRED'} ? '점검 예정' : '미실시')"
                                  th:classappend="
                                    ${customer.resultStatus == 'NORMAL'} ? 'bg-success' :
                                    (${customer.resultStatus == 'ACTION_REQUIRED'} ? 'bg-danger' : 'bg-secondary')
                            ">
                            </span>
                        </td>
                        <td th:text="${customer.totalLicenseCount}"></td>
                        <td>
                            <a class="detail-btn"
                               th:href="@{/customer/detail/{id}(id=${customer.customerNo})}">
                                상세보기
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 페이징 -->
            <div class="d-flex justify-content-between align-items-center mt-3">

                <!-- 전체 개수 -->
                <div>
                    총 고객사 수 <span th:text="${totalCount}">0</span> 건
                </div>

                <!-- 페이지 -->
                <ul class="pagination mb-0">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail(page=${currentPage - 1})}">이전</a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link"
                           th:href="@{/customer/detail(page=${i})}"
                           th:text="${i + 1}"></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail(page=${currentPage + 1})}">다음</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </div>
</html>