<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:block th:replace="~{layout/layout :: layout(~{::content})}">
<div th:fragment="content">
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3><strong>[[${customer.customerNm}]]</strong> 상세 정보 <button class="btn btn-outline-secondary btn-sm ms-2"  th:onclick="|location.href='/customer/detail'|">뒤로가기</button></h3>
            <div>
                <button class="btn btn-success me-2">점검 결과 등록</button>
                <button class="btn btn-dark" th:onclick="|location.href='/customer/edit/' + ${customer.custNo}|">정보 수정</button>
            </div>
        </div>

        <div class="row g-3 mb-4">
            <div class="col-md-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-body">
                        <h5 class="card-title">기본 정보</h5>
                        <p class="card-text mb-1">사업자번호: [[${customer.businessNo}]]</p>
                        <p class="card-text mb-1">담당자: [[${customer.managerName}]]</p>
                        <p class="card-text">연락처: [[${customer.managerPhone}]]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning h-100">
                    <div class="card-body">
                        <h5 class="card-title">최근 점검 결과</h5>
                        <p class="card-text mb-1">점검일: [[${customer.lastInspectionDate}]]</p>
                        <p class="card-text">상태: <span class="badge bg-success">점검완료 (정상)</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-body">
                        <h5 class="card-title">라이선스 현황</h5>
                        <p class="card-text mb-1">구매 수량: [[${customer.totalLicenseCount}]]개</p>
                        <p class="card-text">만료 예정: [[${customer.expiryDate}]]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body">
                        <h5 class="card-title">특이사항/이력</h5>
                        <p class="card-text">[[${customer.memo != null ? customer.memo : '특이사항 없음'}]]</p>
                    </div>
                </div>
            </div>
        </div>
        <h3> 라이선스 리스트 </h3>
        <div class="card mb-4">
            <div class="card-header bg-white"><strong>[[${customer.customerNm}]] 라이선스</strong></div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th>번호</th>
                        <th>라이선스 명</th>
                        <th>라이선스 타입</th>
                        <th>라이선스 수량</th>
                        <th>상태</th>
                        <th>만료일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, stat : ${licenseList}">
                        <td th:text="${stat.count}">1</td>
                        <td th:text="${item.licenseKey}"></td>
                        <td th:text="${item.licenseType}"></td>
                        <td th:text="${item.licenseCount}"></td>
                        <td>
                            <span th:class="${item.licenseStatus == 'ACTIVE' ? 'badge bg-success' : 'badge bg-danger'}"
                                  th:text="${item.licenseStatus}">
                                ACTIVE
                            </span>
                        </td>
                        <!-- 만료일 -->
                        <td th:text="${#temporals.format(item.expireDate, 'yyyy-MM-dd')}">2026-01-28</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- 페이징 -->
            <div class="mt-3" style="position: relative; min-height: 50px;">
                <!-- 전체 개수 -->
                <div style="position: absolute; left: 0; top: 50%; transform: translateY(-50%);">
                    총 라이선스 수 <span th:text="${totalLicenseCount}">0</span> 건
                </div>
                <div class="d-flex justify-content-center">
                <ul class="pagination mb-0" th:if="${licenseTotalPage > 0}">

                    <li class="page-item" th:classappend="${licensePage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, historyPage=${historyPage}, licensePage=${licensePage - 1})}">이전</a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, licenseTotalPage - 1)}"
                        th:classappend="${i == licensePage} ? 'active'">

                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, historyPage=${historyPage}, licensePage=${i})}"
                           th:text="${i + 1}">
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${licensePage == licenseTotalPage - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, historyPage=${historyPage}, licensePage=${licensePage + 1})}">다음</a>
                    </li>

                </ul>
                </div>
            </div>
        </div>
        <h3> 정기점검 이력</h3>
        <div class="card mb-4">
            <div class="card-header bg-white"><strong>[[${customer.customerNm}]] 정기점검 </strong></div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th>번호</th>
                        <th>점검 일자</th>
                        <th>담당자</th>
                        <th>점검 현황</th>
                        <th>점검 확인서</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, stat : ${history}">
                        <td th:text="${stat.count}">1</td>
                        <td th:text="${item.inspectionDate}">2026-01-28</td>
                        <td th:text="${item.inspectorName}">최성민</td>
                        <td><span th:class="${item.status == '완료' ? 'badge bg-success' : 'badge bg-danger'}" th:text="${item.status}">완료</span></td>
                        <td>[PDF 보기]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 페이징 -->
            <div class="mt-3" style="position: relative; min-height: 50px;">
            <div class="d-flex justify-content-center">
                <ul class="pagination mb-0" th:if="${historyTotalPage > 0}">

                    <li class="page-item" th:classappend="${historyPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, licensePage=${licensePage}, historyPage=${historyPage - 1})}">이전</a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, licenseTotalPage - 1)}"
                        th:classappend="${i == licensePage} ? 'active'">

                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, historyPage=${historyPage}, licensePage=${i})}"
                           th:text="${i + 1}">
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${historyPage == historyTotalPage - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/customer/detail/{custNo}(custNo=${customer.custNo}, licensePage=${licensePage}, historyPage=${historyPage + 1})}">다음</a>
                    </li>

                </ul>
            </div>
        </div>
        </div>
    </div>

</div>
</html>