<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lam.domain.customer.mapper.CustomerMapper">

    <select id="selectCustomerList" resultType="com.project.lam.domain.customer.dto.CustomerListResponse">
        SELECT *
        FROM (
            SELECT
                c.CUST_NO    AS customerNo,
                c.CUST_NM    AS customerNm,
                c.BUSINESS_NO AS businessNo,
                cm.CUST_USERNM AS managerName,
                MAX(i.INSPECTION_DATE)::timestamp AS lastInspectionDate,
                COALESCE(SUM(l.LICENSE_COUNT), 0) AS totalLicenseCount,
                (
                    SELECT i2.RESULT_STATUS
                    FROM INSPECTION i2
                    WHERE i2.CUST_NO = c.CUST_NO
                    ORDER BY i2.INSPECTION_DATE DESC
                    LIMIT 1
                ) AS resultStatus
            FROM CUSTOMER c
            LEFT JOIN CUSTOMER_MANAGER cm ON cm.CUST_NO = c.CUST_NO
            LEFT JOIN LICENSE l ON l.CUST_NO = c.CUST_NO
            LEFT JOIN INSPECTION i ON i.CUST_NO = c.CUST_NO
            GROUP BY c.CUST_NO, c.CUST_NM, c.BUSINESS_NO, cm.CUST_USERNM
        ) t
        ORDER BY t.customerNo DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getCustomerTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT c.CUST_NO
        FROM CUSTOMER c
        LEFT JOIN CUSTOMER_MANAGER cm ON cm.CUST_NO = c.CUST_NO
        LEFT JOIN LICENSE l ON l.CUST_NO = c.CUST_NO
        LEFT JOIN INSPECTION i ON i.CUST_NO = c.CUST_NO
        GROUP BY c.CUST_NO, c.CUST_NM, c.BUSINESS_NO, cm.CUST_USERNM
        ) t
    </select>

    <select id="selectInspectionSummary" resultType="com.project.lam.domain.customer.dto.InspectionSummaryResponse">
    <![CDATA[
        SELECT
            COUNT(
                CASE
                    WHEN INSPECTION_STATUS = 'SCHEDULED'
                    AND DATE_TRUNC('month', INSPECTION_DATE)
                         = DATE_TRUNC('month', CURRENT_DATE)
                    THEN 1 END) AS scheduledInspectionCount,

            COUNT(
                CASE
                    WHEN INSPECTION_STATUS = 'COMPLETED'
                    AND DATE_TRUNC('month', INSPECTION_DATE)
                        = DATE_TRUNC('month', CURRENT_DATE)
                THEN 1 END) AS completedInspectionCount,

        COUNT(
            CASE
                WHEN NEXT_INSPECTION_DATE < CURRENT_DATE
                THEN 1 END) AS expiringLicenseCount,

        COUNT(*) AS totalInspectionCount

        FROM INSPECTION;
    ]]>
    </select>

    <select id="selectInspectionList" resultType="com.project.lam.domain.customer.dto.InspectionListResponse">
        SELECT
            i.INSPECTION_NO AS inspectionNo,
            c.CUST_NO AS customerNo,
            c.CUST_NM AS customerNm,
            cm.CUST_USERNM AS customerManagerNM,
            cm.CUST_TEL AS customerTel,
            cm.CUST_EM AS customerEm,
            i.INSPECTOR_NAME AS inspectorName,
            i.RESULT_STATUS AS resultStatus,
            i.NEXT_INSPECTION_DATE AS nextInspectionDate,
            l.EXPIRE_DATE AS expiredInspectionDate
        FROM CUSTOMER c
        LEFT JOIN CUSTOMER_MANAGER cm
        ON c.CUST_NO = CM.CUST_NO

        LEFT JOIN (
            SELECT DISTINCT ON (CUST_NO) *
            FROM INSPECTION i
            ORDER BY CUST_NO, INSPECTION_DATE DESC
        ) i ON C.CUST_NO = i.CUST_NO

        LEFT JOIN (
        SELECT DISTINCT ON (CUST_NO) *
        FROM LICENSE l
        ORDER BY CUST_NO, EXPIRE_DATE DESC
        ) l ON C.CUST_NO = l.CUST_NO

        ORDER BY C.CUST_NO DESC

    </select>

    <select id="selectInspectionPlanList" resultType="com.project.lam.domain.customer.dto.InspectionListResponse">
        SELECT
            i.INSPECTION_NO AS inspectionNo,
            c.CUST_NO AS customerNo,
            c.CUST_NM AS customerNm,
            cm.CUST_USERNM AS customerManagerNM,
            cm.CUST_TEL AS customerTel,
            cm.CUST_EM AS customerEm,
            i.INSPECTOR_NAME AS inspectorName,
            i.RESULT_STATUS AS resultStatus,
            i.NEXT_INSPECTION_DATE AS nextInspectionDate,
            l.EXPIRE_DATE AS expiredInspectionDate
        FROM CUSTOMER c
        LEFT JOIN CUSTOMER_MANAGER cm
        ON c.CUST_NO = CM.CUST_NO

        LEFT JOIN (
            SELECT DISTINCT ON (CUST_NO) *
            FROM INSPECTION i
            ORDER BY CUST_NO, INSPECTION_DATE DESC
        ) i ON C.CUST_NO = i.CUST_NO

        LEFT JOIN (
            SELECT DISTINCT ON (CUST_NO) *
            FROM LICENSE l
            ORDER BY CUST_NO, EXPIRE_DATE DESC
        ) l ON C.CUST_NO = l.CUST_NO


        ORDER BY C.CUST_NO DESC

    </select>
    <select id="selectCustomerDetailSummary" resultType="com.project.lam.domain.customer.dto.CustomerDetailResponse">
        SELECT
        c.cust_no AS customerNo,
        c.cust_nm AS customerNm,
        c.business_no AS businessNo,

        -- 고객 담당자 (여러명일 경우 1명만)
        cm.cust_usernm AS managerName,
        cm.cust_tel AS managerPhone,

        -- 최근 점검일
        (
        SELECT TO_CHAR(MAX(i.inspection_date), 'YYYY-MM-DD')
        FROM inspection i
        WHERE i.cust_no = c.cust_no
        ) AS lastInspectionDate,

        -- 라이선스 총 수량
        (
        SELECT COALESCE(SUM(l.license_count), 0)
        FROM license l
        WHERE l.cust_no = c.cust_no
        ) AS totalLicenseCount,

        -- 만료일 (ACTIVE만 기준)
        (
        SELECT TO_CHAR(MIN(l.expire_date), 'YYYY-MM-DD')
        FROM license l
        WHERE l.cust_no = c.cust_no
        AND l.status = 'ACTIVE'
        ) AS expiryDate,

        -- 최근 점검 메모
        (
        SELECT i.memo
        FROM inspection i
        WHERE i.cust_no = c.cust_no
        ORDER BY i.inspection_date DESC
        LIMIT 1
        ) AS memo

        FROM customer c
        LEFT JOIN customer_manager cm
        ON cm.cust_no = c.cust_no
        WHERE c.cust_no = #{custNo}
        LIMIT 1;
    </select>

    <select id="selectCustomerInspectionHistory" resultType="com.project.lam.domain.customer.dto.InspectionHistory">
        SELECT
        TO_CHAR(i.inspection_date, 'YYYY-MM-DD') AS inspectionDate,
        i.inspector_name AS inspectorName,

        CASE
        WHEN i.result_status = 'NORMAL' THEN '완료'
        ELSE '미완료'
        END AS status

        FROM inspection i
        WHERE i.cust_no = #{custNo}
        ORDER BY i.inspection_date DESC;
    </select>
</mapper>
